Repository Abhishek-Kumbhani/lorawan-stack, changes with the owners that CODEOWNERS names for each.
All owners: @johanstokking, @kschiffer, @ryaplots, @adriansmares, @benolayinka, @KrishnaIyer, @mjamescompton, @nicholaspcr

console: Refactor packet broker view
  pkg/webui/console/components/routing-policy-form/index.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/admin-packet-broker/default-routing-policy.js
  pkg/webui/console/views/admin-packet-broker/messages.js
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Determine initial values and submit form
  pkg/webui/console/store/actions/packet-broker.js
  pkg/webui/console/store/middleware/logics/packet-broker.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/admin-packet-broker/messages.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Separate the forms
  pkg/webui/console/components/default-routing-policy-form/index.js
  pkg/webui/console/views/admin-packet-broker/default-routing-policy.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Update locales
  pkg/webui/console/components/default-routing-policy-form/routing-policy-form.styl
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Update e2e tests
  cypress/e2e/console/admin-panel/packet-broker/default-gateway-visibility.spec.js
  cypress/e2e/console/admin-panel/packet-broker/networks.spec.js
  cypress/e2e/console/admin-panel/packet-broker/registration.spec.js
  cypress/e2e/console/admin-panel/packet-broker/routing-policies.spec.js
  cypress/fixtures/console/packet-broker/default-custom-policy.json
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
  pkg/webui/console/views/admin-packet-broker/messages.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Remove custom radio buttons
  pkg/webui/console/components/default-routing-policy-form/index.js
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Remove unnecessary request
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Update locales
  pkg/webui/locales/en.json
  pkg/webui/locales/ja.json
Owners: none

console: Fix validation schema
  pkg/webui/console/views/admin-packet-broker/admin-packet-broker.js
Owners: @kschiffer, @ryaplots, @mjamescompton

ns: Retrieve non zero fields during set
  pkg/networkserver/grpc_deviceregistry.go
Owners: @johanstokking, @adriansmares

console: Initalized fuota.io integration
  pkg/webui/assets/misc/fuotaio.svg
  pkg/webui/console/views/application-integrations-fuota.io/application-integrations-fuota.io.styl
  pkg/webui/console/views/application-integrations-fuota.io/index.js
  pkg/webui/console/views/application/index.js
  pkg/webui/lib/shared-messages.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Fuota.io required files added
  pkg/webui/console/views/application-integrations-fuota.io/application-integrations-fuota.io.styl
  pkg/webui/console/views/application-integrations-fuota.io/index.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Fuota.Io Integration UI Section added
  pkg/webui/console/containers/fuota-io-form/index.js
  pkg/webui/console/views/application-integrations-fuota.io/application-integrations-fuota.io.styl
  pkg/webui/console/views/application-integrations-fuota.io/index.js
  pkg/webui/lib/shared-messages.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Fuota.Io Integration form submit button updated
  pkg/webui/console/containers/fuota-io-form/index.js
Owners: @kschiffer, @ryaplots, @mjamescompton

console: Fuota.Io Integration ErrorView and Require component added
  pkg/webui/console/lib/feature-checks.js
  pkg/webui/console/views/application-integrations-fuota.io/index.js
Owners: @kschiffer, @ryaplots, @mjamescompton

CODEOWNERS:

# Root
/** @johanstokking
/CODEOWNERS @johanstokking
/LICENSE @johanstokking
/CHANGELOG.md

# Clear common folders
/pkg

# Dependencies
/go.mod @johanstokking
/go.sum @johanstokking
/package.json @kschiffer @ryaplots
/yarn.lock @kschiffer @ryaplots
/sdk/js/package.json @kschiffer @ryaplots
/sdk/js/yarn.lock @kschiffer @ryaplots

# Build pipeline and tooling
/Makefile @adriansmares
/tools @adriansmares
/.github/workflows @adriansmares
/config @kschiffer @ryaplots
/config/stack @benolayinka @KrishnaIyer
/cypress @kschiffer @ryaplots

# API, configuration, CLI and storage compatibility
/api/*.proto @johanstokking
/cmd @adriansmares
/pkg/**/config.go @adriansmares
/pkg/**/registry.go @adriansmares
/pkg/config/shared.go @adriansmares
/pkg/gogoproto @johanstokking
/pkg/goproto @johanstokking
/pkg/identityserver/store @johanstokking
/pkg/jsonpb @johanstokking
/pkg/ttnpb @johanstokking

# Security
/pkg/auth @johanstokking
/pkg/crypto @johanstokking

# Shared components
/pkg/band @johanstokking @KrishnaIyer
/pkg/cluster @johanstokking @adriansmares
/pkg/component @johanstokking
/pkg/errors @johanstokking
/pkg/events @adriansmares
/pkg/frequencyplans @johanstokking @KrishnaIyer
/pkg/interop @johanstokking @adriansmares
/pkg/rpcmiddleware @johanstokking @adriansmares
/pkg/rpcserver @johanstokking @adriansmares
/pkg/types @johanstokking
/pkg/web @kschiffer @ryaplots
/pkg/webmiddleware @KrishnaIyer @kschiffer
/pkg/webui @kschiffer @ryaplots @mjamescompton 
/pkg/ratelimit @johanstokking @KrishnaIyer

# Subsystems

/pkg/identityserver @kschiffer @nicholaspcr
/pkg/email @kschiffer @nicholaspcr
/pkg/oauth @kschiffer @nicholaspcr
/pkg/account @kschiffer @nicholaspcr
/pkg/web/oauthclient @kschiffer @nicholaspcr

/pkg/gatewayserver @johanstokking @KrishnaIyer @adriansmares
/pkg/gatewayconfigurationserver @KrishnaIyer
/pkg/pfconfig @KrishnaIyer
/pkg/basicstation @KrishnaIyer

/pkg/networkserver @johanstokking @adriansmares
/pkg/specification/macspec @johanstokking @adriansmares
/pkg/encoding/lorawan @johanstokking @adriansmares

/pkg/applicationserver @johanstokking @adriansmares @KrishnaIyer
/pkg/messageprocessors @johanstokking @adriansmares @KrishnaIyer
/pkg/scripting @johanstokking @adriansmares @KrishnaIyer

/pkg/joinserver @johanstokking @adriansmares

/pkg/console @kschiffer @ryaplots

/pkg/packetbrokeragent @johanstokking @adriansmares

/pkg/devicetemplateconverter @adriansmares @KrishnaIyer
/pkg/devicetemplates @adriansmares @KrishnaIyer
/pkg/qrcode @adriansmares @KrishnaIyer
/pkg/qrcodegenerator @adriansmares @KrishnaIyer

/pkg/deviceclaimingserver @nicholaspcr @KrishnaIyer

/pkg/devicerepository @adriansmares @KrishnaIyer

# SDKs
/sdk/js @kschiffer @ryaplots @mjamescompton 

# Clear generated code
/api/api.md
/api/api.swagger.json
/config/messages.json
/pkg/ttnpb/*.pb.*.go
/pkg/ttnpb/*.pb.go
/pkg/webui/locales/*.json
/sdk/js/generated
